<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - StayWell API - Web Examples</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse yamm navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">StayWell API</a>
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Experience <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="mega-menu">
                                <div class="row">
                                    <div class="col-sm-3 menu-column">
                                        <h3>Content Display</h3>
                                        <ul>
                                            <li><a href="/Content/diseases-and-conditions/absence-seizures">Article</a></li>
                                            <li><a href="/Content/videos-v2/carpal-tunnel-syndrome">Video</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-column">
                                        <h3>Interactive Content</h3>
                                        <ul>
                                            <li><a href="/Content/videos">Video Library</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-column">
                                        <h3>Topic Areas</h3>
                                        <ul>
                                            <li><a href="/Centers/health-centers">Health Centers</a></li>
                                            <li><a href="/Centers/healthy-living">Healthy Living</a></li>
                                            <li><a href="/Centers/your-family">Your Family</a></li>
                                            <li><a href="/TopicArea/greystone---adult-library-categorized-v1">Adult Health Library</a></li>
                                            <li><a href="/TopicArea/greystone---pediatric-library-categorized-v1">Pediatric Health Library</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-column">
                                        <h3>Plugins (Beta)</h3>
                                        <ul>
                                            <li>@Html.ActionLink("Centers Plugin", "CenterPlugin", "Example")</li>
                                            <li>@Html.ActionLink("A to Z Plugin", "AtoZPlugin", "Example")</li>
                                            <li>@Html.ActionLink("3D Anatomy Plugin", "Anatomy3D", "Example")</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 menu-column">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Accordion demo -->
                    <li class="dropdown yamm-fw">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Development Center<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="mega-menu">
                                <div class="row">
                                    <div class="col-sm-3 menu-column">
                                        <h3>How To</h3>
                                        <ul>
                                            <li>@Html.ActionLink("Display Article", "DisplayArticle", "HowTo")</li>
                                            <li>@Html.ActionLink("Display Article via JSONP", "DisplayJSONP", "HowTo")</li>
                                            <li>@Html.ActionLink("Display Article Link", "DisplayArticleLink", "HowTo")</li>
                                            <li>@Html.ActionLink("Display Video", "DisplayVideo", "HowTo")</li>
                                            <li>@Html.ActionLink("Display Collection", "DisplayCollection", "HowTo")</li>
                                            <li>@Html.ActionLink("Get Related Content", "DisplayRelatedContent", "HowTo")</li>
                                            <li>@Html.ActionLink("Search By Published Date", "SearchByPublishedDate", "HowTo")</li>
                                            <li>@Html.ActionLink("Perform Search", "SearchContent", "HowTo")</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-column">
                                        <h3>Explore License</h3>
                                        <ul>
                                            <li>@Html.ActionLink("Show Collections", "DisplayCollections", "License")</li>
                                            <li>@Html.ActionLink("Show Buckets", "DisplayBuckets", "License")</li>
                                            <li>@Html.ActionLink("Download Content", "DownloadAllContent", "License")</li>
                                            <li>@Html.ActionLink("Show Service Lines", "DisplayServiceLines", "License")</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-column">
                                        <h3>Conversion</h3>
                                        <ul>
                                            <li>@Html.ActionLink("Display Legacy Article", "DisplayContentByLegacyId", "Conversion")</li>
                                            <li>@Html.ActionLink("Verify Legacy Ids", "VerifyLegacyIds", "Conversion")</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 menu-column">
                                        <h3>More Resources</h3>
                                        <ul>
                                            <li><a href="https://github.com/StayWell/StayWell-API-CSharp-Client">Download this code on GitHub.com</a></li>
                                            <li><a href="https://admin.kramesstaywell.com/docs">Documentation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The StayWell Company, LLC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/flowplayer")
    @Scripts.Render("~/bundles/handlebars")
    @RenderSection("scripts", required: false)
</body>
</html>
