@using StayWell.ServiceDefinitions.Collections.Objects
@using StayWell.WebExample.Models

@model CollectionResponse
@helper TreeView(List<CollectionItemResponse> items)
{
    foreach (var item in items)
    {
        <li>
            @if (item.Items==null || item.Items.Count == 0)
            {
                <span>@item.Title</span>
            }
            else
            {
                <span>@item.Title</span>
                <ul>
                    @TreeView(item.Items)
                </ul>
            }
        </li>
    }
}
@{
    ViewBag.Title = "Display Collection";
}
<div class="section-header">
    <h1>How To: Display a Collection</h1>
</div>

<h3>@Model.Title</h3>
<p>
    <img src="@Model.ImageUri" style="width: 100px;" /> @Model.Description
</p><br />
<h4>Collection Contents</h4>
<ul>
    @TreeView(Model.Items)
</ul>